AES Hiring Application/Wcf.AES.Jobs.Client/Service References/WebService/JobService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4823/JobService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" />
  <xs:element name="Get_Job_Posting_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Posting_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Posting_ListResult" nillable="true" type="q1:ArrayOfOpenJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Posting_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Posting_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Posting_By_IDResult" nillable="true" type="q2:OpenJobs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Store_Location_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Store_Location_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Store_Location_ListResult" nillable="true" type="q3:ArrayOfStoreLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Template_List">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Template_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Template_ListResult" nillable="true" type="q4:ArrayOfJobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_JobTemplate_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_JobTemplate_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_JobTemplate_By_IDResult" nillable="true" type="q5:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Question_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Question_FormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Question_FormResult" nillable="true" type="q6:ArrayOfQuestionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PreApp_Questions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_PreApp_QuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_PreApp_QuestionsResult" nillable="true" type="q7:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_By_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_By_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Application_By_IDResult" nillable="true" type="q8:Job_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_Stage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stage" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Job_Application_List_By_StageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Job_Application_List_By_StageResult" nillable="true" type="q9:ArrayOfJob_Application" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Answers_By_Application_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Application_ID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Answers_By_Application_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="Get_Answers_By_Application_IDResult" nillable="true" type="q10:ArrayOfQuestion_Answer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_Posting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="posting" nillable="true" type="q11:NewPosting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_PostingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="newJob" nillable="true" type="q12:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Posting_ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create_ApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Create_ApplicationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_Posting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_PostingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionsByJobID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JobID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionsByJobIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getQuestionsByJobIDResult" nillable="true" type="q13:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getQuestionByIDResult" nillable="true" type="q14:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteQuestionByIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="getAllQuestionsResult" nillable="true" type="q15:ArrayOfQuestion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="question" nillable="true" type="q16:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPreAppQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="question" nillable="true" type="q17:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewPreAppQuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionToJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="questionIDjobID" nillable="true" type="q18:QuestionIDJobID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addQuestionToJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeQuestionFromJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="questionIDjobID" nillable="true" type="q19:QuestionIDJobID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeQuestionFromJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Answer_To_Table">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="answer" nillable="true" type="q20:ArrayOfAnswer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add_Answer_To_TableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Template">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="jobTemp" nillable="true" type="q21:JobTemplates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_TemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Question">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="question" nillable="true" type="q22:Question" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_QuestionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Questions_By_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Job_ID" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFAESJobs.WebService" minOccurs="0" name="form" nillable="true" type="q23:ArrayOfQuestionForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Job_Questions_By_FormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Application_Stage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Application_ID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="stage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update_Application_StageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>